.Forecast-container {
  text-align: center;
  margin: 10px;
  margin-top: 50px;
}
.Forecast-temp-min {
  opacity: 0.7;
}
@media (max-width: 900px) {
  .Forecast-container {
    font-size: 13px;
    text-align: center;
    margin: 5px;
    margin-top: 50px;
  }
}
