.Weather {
  border-radius: 5px;
  margin: 25px auto;
  padding: 16px;
}
.Weather h1 {
  font-weight: 700;
  font-size: 24px;
  display: block;
  line-height: 24px;
  color: #5d5693;
  margin: 10px 0 0 0;
}
.Weather .form-search {
  background-color: #cde9df;
  color: #5d5693;
  padding: 15px;
  border: 1px solid rgba(135, 135, 135);
  border-radius: 5px;
  width: 100%;
}
.Weather .btn {
  padding: 15px;
  background-color: #5d5693;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  list-style: none;
}
.Weather canvas {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin: 5px;
  margin-left: 15px;
}
.Weather .current-temp {
  color: black;
  font-weight: 600;
  font-size: 64px;
  height: auto;
  line-height: 64px;
}
.Weather .unit {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -32px;
  margin-left: 2px;
  line-height: 1;
}
.unit a {
  text-decoration: none;
}

.Weather .col-6 ul {
  position: relative;
  top: 95px;
}
